on:
  push:
    branches:
      - main
name: release-please
permissions:
  contents: write
  pull-requests: write
  id-token: write
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - id: release
        uses: GoogleCloudPlatform/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: node
      - if: ${{ steps.release.outputs.release_created }}
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - if: ${{ steps.release.outputs.release_created }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'
      - if: ${{ steps.release.outputs.release_created }}
        run: npm install -g npm
      - if: ${{ steps.release.outputs.release_created }}
        run: npm ci --legacy-peer-deps
      - if: ${{ steps.release.outputs.release_created }}
        run: npm run build
      - id: publish
        if: ${{ steps.release.outputs.release_created }}
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - if: steps.publish.outputs.type != 'none'
        run: |
          echo "Version changed: ${{ steps.publish.outputs.old-version }} => ${{ steps.publish.outputs.version }}"
